body
{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/*******nav-area****/
.nav-area
{
    background-color: #0B0D17;
}
.flex-container
{
    display: flex;
}

.text-color
{
    color: #FB934A;
}
.brand-name 
{
 width: 50%;
 text-align: center;
 box-sizing:border-box;
 margin-top: 25px;
 padding-bottom: 15px;
 
}
.brand-name  h3{
    font-size:30px;
    color: gray;
    margin: 0;
}
.menu-area 
{
width:35%;

}
.menu-area li{
    margin-top: 28px;
    box-sizing: border-box;
   list-style: none;
   padding: 10px;
}
.menu-area li a
{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    
}
.icon-area
{
width: 15%;
}
.icon-area a
{
    
    color: white;
    margin-top: 28px;
    padding: 10px;
  
}
.icon-area a i
{
    font-size: 18px;
}

/********* header-area ******/
.header-area
{
    margin-bottom: 7%;
}

.half-width
{
    width: 50%;
    margin-top: 5%;
    margin-left:4%;
}
.half-width img 
{
    width: 80%;
}

h1
{
    margin: 0;
    font-size: 50px;
    color: #575757;
    font-weight: 700;
}
.header-area p
{
    color: #828282;
    
}
.half-width .header-text
{
    padding-top: 20%;
    margin-left: 5%;
}
.anchor
{
    padding-top: 7%;
}
.click
{
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    background-image: linear-gradient(to right, #FB974C,#FD5131);
    border-radius: 25px;
    display: inline-block;
}
/***********about-area****/
.about-me
{
    background-image: url("images/7.png");
    background-repeat: no-repeat;
    background-position:top left;
    background-size: cover;
}
.about-me #about-img img
{
    width: 50%;
    margin-left: 16%;
   
}
.about-text
{
    padding-top: 10%;
    margin-right: 14%;
}
h2
{
    color: #707070;
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 600;
}
/***********     Recipies-area      ********/

.Recipies-area
{
    margin: 5% 5% 10%;
}

.Recipies-area #Recipies-text
{
    text-align: center;
    width: 47%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.Recipies-area p
{
color: #252525;
}
.Recipies-area .cards
{
    width: 31%;
    margin:0 1.165% 0 1.165%;
    padding: 20px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 25px;
    
}
.Recipies-area .cards .card-img img
{
    width: 100%;
}
.Recipies-area .cards .card-title h4
{
   font-size: 26px;
   text-transform: capitalize;
   color: #18191F;
}
/*************  viewer-area  ***********/
.viewer-area
{
    margin: 5%;
}
.viewer-area #viewer-id
{
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 15px;
   
}
.viewer-area .viewer
{
 width: 26%;
 margin-left:  7.33%;


}
.viewer-area .viewer h1
{
    font-size: 50px;
    color: #18191F;
}
/**********    Contact-area     **********/
.Contact-area
{
    background-color:whitesmoke;
    padding: 2% 5%;

}
.Contact-area h2
{
    text-align: center;
}
.contact
{
    width: 80%;
    margin: auto;
    
}
form
{
    margin: 3% 0;
}
.input-text input
{
    display: inline-block;
  margin-left:5%;
  width: 45%;
  padding: 10px;
  text-transform: capitalize;
  font-size: 18px;
  margin-top: 15px;
  border-radius: 5px;
  border: 1px solid #828282;
}
.Contact-area .text-area
{
margin-left: 25%;
margin-top: 2%;

}
.Contact-area .text-area textarea
{
    text-transform: capitalize;
    font-size: 16px;
    border-radius: 5px;
    border:1px solid #828282;
}
.Contact-area input[type="submit"]
{
    display: block;
    margin: 0 auto;
    margin-top: 4%;
    text-transform: uppercase;
    padding: 15px 30px;
    background-image: linear-gradient(to right, #FB974C,#FD5131);
    color: white;
    border-radius: 25px;
    border: 1px solid white;

}


/***********  footer  **********/
.footer-area
{
    text-align: center;
    background-color: #0B0D17;
    overflow: hidden;
    padding-bottom: 4%;
}
.footer-area p{
    color: #FFFFFF;
}


